<div class="header-home">
            <app-navbar></app-navbar>
        </div>
        <div class="col-12">
            <br><br>
            <span class="title-perfil">Bienvenido {{name_user}}</span>
            <br><br>
            <span class="title-perfil">{{rol}}</span>
        </div>
        
    <div class="wrapper">
        
        <div class="section-home">
            <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de Materias registradas</span>
        </div>
            <div class="body-home">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceM">
                        <!-- 1era fila -->
                        <ng-container matColumnDef="NRC">
                            <th mat-header-cell *matHeaderCellDef> NRC </th>
                            <td mat-cell *matCellDef="let element"> {{element.NRC}} </td>
                        </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>
                        <!-- 3era fila -->
                        <ng-container matColumnDef="seccion">
                            <th mat-header-cell *matHeaderCellDef> Seccion </th>
                            <td mat-cell *matCellDef="let element"> {{element.seccion}} </td>
                        </ng-container>

                        // <!-- Symbol Column -->
                        <ng-container matColumnDef="dias">
                            <th mat-header-cell *matHeaderCellDef> Dias </th>
                            <td mat-cell *matCellDef="let element"> {{element.dias}} </td>
                        </ng-container>

                        <ng-container matColumnDef="horaInicio">
                            <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
                            <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="horaFinal">
                            <th mat-header-cell *matHeaderCellDef> Hora Final </th>
                            <td mat-cell *matCellDef="let element"> {{element.horaFinal}} </td>
                        </ng-container>
                        <ng-container matColumnDef="salon">
                            <th mat-header-cell *matHeaderCellDef> Salon </th>
                            <td mat-cell *matCellDef="let element"> {{element.salon}} </td>
                        </ng-container>

                        <ng-container matColumnDef="programaEducativo">
                            <th mat-header-cell *matHeaderCellDef> Programa Educativo </th>
                            <td mat-cell *matCellDef="let element"> {{element.programaEducativo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="editar">
                            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                            <td mat-cell *matCellDef="let element" class="td-editar">
                                <i class="bi bi-pencil-square" (click)="editarMateria(element.id)"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                            <td mat-cell *matCellDef="let element" class="td-eliminar">
                                <i class="bi bi-trash3-fill" (click)="eliminarMateria(element.id)"></i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsM"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsM;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

                <br><br>
            </div>
        </div>
    </div>
